/* d1: style(css): Set base styles for body element */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* d1: style(css): Create full-height header with centered content */
.header {
  height: 100vh; /* 100% de la altura de la ventana */
  background-color: #333; /* Fondo oscuro si la imagen no carga o tarda en cargar */
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}







.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}










.search {
    float: right;
    line-height: 80px;
    position: relative; /* Agregamos posición relativa para posicionar el botón */
}





















.blog,
.contact {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.blog h2 {
    text-align: center;
}

.blog-entry {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor flex */
}













































footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}